
  html {
      --color-texta: #1d1d1d;
      --color-textb: #fff;
  }

/*
  body {
      cursor: none;
  }

  .cursor {
width: 3rem;
height: 3rem;
border: 2px solid var(--color-texta);
border-radius: 50%;
position: absolute;
z-index: 1000;
transform: translate(-50%, -50%);
pointer-events: none;
transition: all 0.3s ease;
transition-property: background, transform;
transform-origin: 100% 100%;
backdrop-filter: sepia(20%);
background-size: cover
}
*/

.cursor-grow {
transform: scale(2);
background-color: var(--color-texta)
}


.gnb li a:hover::after {
width: calc(100% - 2rem);
height: 3px;
background-size: contain
}

/*
.hovered-link {
color: var(--color-textb) !important
}


.hovered-link::after {
background-image: url("../img/white_dot.svg")
}
*/


body {min-width:100%; margin:0 auto}

header {
position:fixed;
left:0;
righ t:0;
top:0;
padding:30px 70px;
background:#fff;
z-index:100;
width:100%;
display:flex}

header nav ul {
display:flex;
justify-content:center;
font-weight:700;
line-height}

header nav ul li {margin:0 50px}
header nav ul li a:hover {color:#cc160b}
header nav img {float:left}

.section {display:flex; justify-content:center}

.banner {color:#cc160b; text-align:center; padding-top:40px}

.title {
font-size:70pt;
font-weight:900;
color:#cc160b;
text-align:center;
letter-spacing:-3px;
position: relative;
transition-delay: 0.3s;
animation: fadeInDown 5s;
}

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translate3d(0, -100%, 0);
        }
        to {
            opacity: 1;
            transform: translateZ(0);
        }
    }

.subtitle {
font-size:15pt;
font-weight:500;
color:#171717;
text-align:center;
letter-spacing:-1.5px;
animation: fadeInDown 8s}

.mbox {display:flex;
justify-content:space-between;
margin:100px 0 0 0;
}

.mbox .sbox1 {
width:50%;
background:#cc160b;
text-align:center;
color:#fff;
padding:80px;
margin-left:250px;
line-height:1.7;
font-size:14pt
}



.mbox .sbox2 {
width:50%;
height:20%;
background:#585858;
text-align:center;
color:#fff;
padding:80px;
margin-right:250px;
line-height:1.7;
font-size:14pt
}

.mbox .sbox1 h4 {font-weight:300}
.mbox .sbox2 h4 {font-weight:300}

.bold {font-weight:600}

.mdot {display:flex; margin:100px 0 0 0}


.mdot .txt {position:relative; top:80%; left:45%;
font-size:20px;
font-weight:500;
color:#fff;
}

.set {
width:100%;
height:auto;
transform-style:preserve-3d;
transition: all 1.5s;
margin-right:150px; margin-left:150px;
}

.set .dot {
width:150px;
height:400px;
font-size:35px;
backface-visibility:hidden;
transition:1s;
}

.set .dot.front {
position:absolute;
transform:rotateY(0deg);
}

.set:hover .dot.front {
transform:rotateY(180deg);
}

.set .dot.back {
transform:rotateY(-180deg);
}

.set:hover .dot.back {
transform:rotateY(0deg);
}

.set .dot.back {position:relative; top:50px}

.set p {position:relative; top:-170px; left:65%;
font-size:30px;
font-weight:600;
color:#fff;
}


.ep1 {width:100%; height:1000px;
background:url("../img/bg.png") no-repeat 0 0;
object-fit:contain;
position:relative
}

.ep1:hover {background:url("../img/bg2.png") no-repeat 0 0}

.car {position:absolute; top:500px; left:910px;
transition: all 0.5s linear}

.car:hover {
transform: scale(3);
}

.human {position:absolute; top:550px; left:800px}

.ep2 {width:100%; height:1000px;
background:url("../img/bg3.png") no-repeat 0 0;
object-fit:contain;
position:relative
}

.ep2:hover {background:url("../img/bg4.png") no-repeat 0 0}
.human2 {position:absolute; top:80px; left:250px;
transition: all 0.5s linear}

.human2:hover{
transform:rotateZ(15deg)
}


.footer {
font-size:13pt;
font-weight:400;
color:#6E6E6E;
background:#171717;
text-align:center;
padding:40px;
}



